.registration-container {
  background-color: rgb(251, 251, 251);
  color: darkgray;
  border-radius: 3px;
  padding: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .toggle-message {
    text-align: center;
    button {
      cursor: pointer;
      background: none;
      color: green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Home-top {
  color: white;
}

.bottom {
  background-color: rgb(1, 110, 0.361);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  div {
    display: flex;
    justify-content: center;
    img {
      max-width: 1400px;
      width: 97%;
      padding-bottom: 20px;
    }
  }
}

// web view specific
.Home-container {
  display: flex;
  flex-direction: column;

  .Home-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 83vh;
    width: 100%;

    background: linear-gradient(rgba(1, 110, 1, 0.361), rgb(1, 110, 0.361)),
      url(/images/brewery_background.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    h2 {
      padding-left: 20px;
    }
    .signed-in-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    .home-content {
      display: flex;
      justify-content: center;
      height: 88.2vh;
      min-width: 70vw;

      .wrapper {
        display: flex;
        gap: 60px;
      }

      .home-upper-left {
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .home-upper-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// mobile view specific
.Mobile-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
  background: linear-gradient(rgba(1, 110, 1, 0.361), rgb(1, 110, 0.361)),
    url(/images/brewery_background.png) no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;

  .registration-container {
    padding: 30px 10px;
    margin: 30px 0;
  }

  .Home-top {
    position: absolute;
  }

  .bottom {
    display: none;
  }
}
