.Home-container {
  display: flex;
  flex-direction: column;

  .Home-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100%;
    color: white;
    background: linear-gradient(rgba(1, 110, 1, 0.361), rgb(1, 110, 0.361)),
      url(/images/brewery_background.png) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    h2 {
      padding-left: 20px;
    }
    .signed-in-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    .home-content {
      display: flex;
      height: 88.2vh;
      min-width: 70vw;
      .home-upper-left {
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .home-upper-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .registration-container {
          background-color: rgb(251, 251, 251);
          color: darkgray;
          border-radius: 3px;
          padding: 30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .toggle-message {
            text-align: center;
            button {
              cursor: pointer;
              background: none;
              color: blue;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    background-color: rgb(1, 110, 0.361);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    img {
      width: 97%;
      padding-bottom: 20px;
    }
  }
}
