.Home {
  display: flex;
  height: 88.2vh;

  .home-upper-left {
    width: 50%;
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-upper-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .registration-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .toggle-message {
        text-align: center;
      }
    }
  }
}
