.login {
  position: relative;
  // top: 50%;
  width: 250px;
  display: table;
  // margin: 85px auto 0 auto;
  background: #fff;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.04);
}

.legend {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: block;
  background: #015a29;
  padding: 15px;

  color: #fff;
  font-size: 20px;
}

.legend:after {
  content: '';
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: block;
  color: darken(#ededed, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#ededed, 30%);
}

input:focus {
  outline: 0;
  border-color: #015a29;
}

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  /* background: #fff; */
  border-radius: 100%;
  border: 1px solid #8fa540;
  color: #015a29;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}

.yellow {
  background: #8fa540;
}

.red {
  background: #fff;
}

.favorited-button {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #8fa540;
  color: #015a29;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
  background: #8fa540;
}

.submit:hover {
  background: #8fa540;
  color: #fff;
  outline: 0;
}

.route-links {
  text-align: center;
  font-size: 14px;
}
