.navbar {
  position: absolute;
  height: 10vh;
  min-height: 70px;
  display: flex;
  align-items: center;
  z-index: 1;
  color: rgb(244, 244, 244);
  background-color: #00873d;
  border-bottom: 6px solid #007233;
  width: 100%;
  margin-bottom: 20px;

  span {
    font-size: 20px;
  }

  a {
    font-size: 25px;
    color: rgb(244, 244, 244);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0.2em 0;

    &:hover {
      color: rgb(218, 218, 218);
      text-decoration: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: rgb(244, 244, 244);
      opacity: 0;
      transition: opacity 300ms, transform 300ms;

      // opacity 1;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
      transform: scale(1);
    }
  }

  a:last-of-type {
    // color: purple;
    // &::after {
    //   color: #00723300 !important;
    // }

    &:hover::after,
    &:focus::after {
      opacity: 0;
    }
  }

  .left-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    .logo {
      height: 45px;
    }
    .username {
      padding-left: 20px;
    }
  }

  .right-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    width: 70%;
    .logout {
      border: 1px solid rgb(201, 198, 198);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.03);
      background-color: #8fa540;
      color: white;
      padding: 3px;
    }
  }
}

// Mobile
.navbar.mobile {
  .navigation {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    clip-path: circle(45px at calc(100% - 45px) 50px);
    // clip-path: eclipse(45px at calc(100% - 45px) 50px);
    transition: all 500ms ease-in-out;
  }

  .navigation.active {
    position: fixed;
    height: 104vh;
    max-width: 100vw;
    background: linear-gradient(rgba(1, 61, 1, 0.54), rgb(1, 110, 0.361)),
      url(/images/frosty_beer.jpeg) no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    clip-path: circle(75%);
    // clip-path: circle(75%);
  }

  // ** Hamburger button ** //
  .navigation .ham-btn {
    position: absolute;
    top: 5vh;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .navigation .ham-btn span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 3.5px;
    background: grey;
    transition: all 200ms ease-in-out;
  }

  .navigation .ham-btn span:nth-child(1) {
    top: -14%;
  }

  .navigation .ham-btn span:nth-child(2) {
    top: -1%;
  }

  .navigation .ham-btn span:nth-child(3) {
    top: 12%;
  }

  .navigation.active .ham-btn span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .navigation.active .ham-btn span:nth-child(2) {
    display: none;
  }

  .navigation.active .ham-btn span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  // ** Inner larger links  **//

  .navigation .links {
    position: absolute;
    top: 50%; // change top position to move inner links up and down
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .navigation .links a {
    position: relative;
    display: inline-block;
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .navigation .links a:hover:after {
    width: 100%;
  }

  .mobile-logout {
    margin-top: 80px;
    border: 2px solid green;
    padding: 0px;
    line-height: 18px;
    border-radius: 5px;
    background-color: rgb(1, 173, 1);

    a {
      font-size: 20px !important;
    }
  }
}
