.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  border-bottom: 6px solid #8fa540;
  margin: 8px 0 25px;
  width: 100%;

  span {
    font-size: 20px;
  }

  a {
    font-size: 25px;
    color: rgb(43, 59, 38);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #015a295e;
      text-decoration: none;
    }
  }

  .left-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    .logo {
      height: 45px;
    }
    .username {
      padding-left: 20px;
    }
  }

  .right-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    width: 70%;
    .logout {
      border: 1px solid rgb(201, 198, 198);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.03);
      background-color: #8fa540;
      color: white;
      padding: 3px;
    }
  }
}
