@import 'LoginAndSignup';
@import 'NavBar';
@import 'NavBar';
@import 'Home';
@import 'Map';
@import 'SearchBar';
@import 'MapPopUp';
@import 'Notes';
@import 'Favorites';
@import 'Breweries';
@import 'Brewery';
@import 'ErrorMessage';
@import 'Loading';

* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0 auto;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
