* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

/* ############################# */
/* ####### LOGIN/SIGNUP #######*/
/* ############################ */

.login {
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: 85px auto 0 auto;
  background: #fff;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.04);
}

.legend {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: block;
  background: #015a29;
  padding: 15px;

  color: #fff;
  font-size: 20px;
}

.legend:after {
  content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: block;
  color: darken(#ededed, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#ededed, 30%);
}

input:focus {
  outline: 0;
  border-color: #015a29;
}

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #8fa540;
  color: #015a29;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}

.submit:hover {
  background: #8fa540;
  color: #fff;
  outline: 0;
}

.route-links {
  text-align: center;
  font-size: 14px;
}

/* ########################### */
/* ########## NAVBAR ######### */
/* ########################### */

.navbar-inverse {
  z-index: 1;
  background-color: white;
  border-bottom: 6px solid #8fa540;
  margin-bottom: 25px;
  width: 100%;
}

.navbar a {
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(43, 59, 38);
  text-decoration: none;
  text-transform: uppercase;
}

#logout {
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.03);
  background-color: #8fa540;
  color: white;
  padding: 3px;
}

.navbar a:hover {
  color: #015a295e;
}

.logo {
  height: 45px;
}

/* ########################## */
/* ######## HOME PAGE ####### */
/* ########################## */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 120px;
  left: 160px;
}

.top-left h1 {
  font-family: "Roboto Slab", serif;
  padding: 10px 5px 10px 40px;
  font-weight: 400;
  font-size: 50px;
}

.home-page-buttons {
  width: 50%;
  margin-left: 90px;
}

#welcome-image {
  position: relative;
  bottom: 0;
  width: 1212px;
  margin-left: 405px;
  margin-bottom: 300px;
}

#login-button {
  width: 50%;
  background-color: #8fa540;
  font-family: "Roboto Slab", serif;
  border-radius: 5px;
  width: 85%;
  height: 20%;
  border: 0.5px solid #8fa540;
  padding: 7px;
}

#login-button:hover {
  background-color: #8fa540d3;
}

#signup-button {
  width: 50%;
  background-color: #035e2c;
  font-family: "Roboto Slab", serif;
  border-radius: 5px;
  width: 85%;
  height: 20%;
  border: 0.5px solid #035e2c;
  padding: 7px;
  margin-top: 10px;
}

#signup-button:hover {
  background-color: #035e2cdc;
}

/* ###################### */
/* ######## MAP ######### */
/* ###################### */

.map-position {
  margin-left: -200px;
  margin-right: 50px;
  width: 75%;
  height: 85%;
  position: fixed;
  display: block;
  z-index: 10;
}

.mapContainer {
  position: absolute;
  width: 90%;
  height: 85%;
  margin: 60px -25px 25px 95px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.04);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* ########################### */
/* ######## MAP SEARCH ######*/
/* ########################## */

.map-search-input {
  margin-top: 17px;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  margin: 0 auto;
}

.mapboxgl-ctrl-geocoder--input {
  margin-top: 500px;
}

/* #################### */
/* ##### MAP PIN ###### */
/* #################### */

.pin {
  background: none;
  border: none;
  cursor: pointer;
}

.pin img {
  width: 20px;
  height: 20px;
}

.pin img:hover {
  background-color: rgba(255, 255, 0, 0.178);
}

/* ############################# */
/* ####### MAP POPUP CARD ###### */
/* ############################# */

.popup-button {
  margin-left: 27px;
  /* margin-top: 5px; */
  margin-bottom: 5px;
  background-color: white;
  border-radius: 3px;
  width: 75%;
  border: 0.5px solid #ebeaec;
}

.popup-button:hover {
  background-color: #035e2c;
}

.view-brewery {
  color: black;
  padding: 10px;
  text-align: center;
  left: 10px;
}

.view-brewery:hover {
  color: #035e2c9d;
}

.popup a {
  color: #035e2c;
}

/* ############################# */
/* ########## NOTES ############*/
/* ############################# */

.note-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bi-pencil {
  margin-bottom: 9px;
}

#note-button {
  width: 35px;
  height: 35px;
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #015a29;
  color: #015a29;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
  outline: none;
}

.note-submit-button {
  border: 1px solid #8fa540;
  background-color: #8fa540;
  border-radius: 10px;
  text-align: center;
  width: 90px;
  height: 35px;
  display: block;
  margin: 0 auto;
}

.note-submit-button submit {
  text-align: center;
}

#note-button:hover {
  background: #015a29;
  color: #fff;
  outline: 0;
}

.notes {
  border-top: 0.5px solid rgb(228, 226, 226);
  border-top-width: 85%;
}
.star-rating {
  padding-top: 5px;
  margin-left: 379px;

  border-top-width: 200%;
}

/* ############################ */
/* ### FAV SHOW PAGE LAYOUT ### */
/* ########################### */

.favorite-cards {
  margin-left: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* ################################# */
/* ### BREWERY SHOW PAGE LAYOUT #### */
/* ################################ */

.cards {
  margin-left: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* ############################ */
/* ## BREWERY/FAV SHOW PAGE ## */
/* ########################### */

#rendered-notes {
  font-weight: bold;
  padding-right: 4px;
}

.header {
  position: relative;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  display: block;
  background: #015a29;
  padding: 15px;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.header:after {
  content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/beer_2-256x256.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 300px -16px;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.card {
  position: relative;
  float: left;
  width: 90%;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  margin: 5px;

  margin-right: -150px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.04);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#icons {
  color: #8fa540;
  padding-right: 4px;
}

.brewery-name {
  font-weight: bold;
  color: #015a29;
}

.website {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.website:hover {
  color: #015a29;
}

.phone-number {
  color: black;
  text-decoration: none;
}

.phone-number:hover {
  text-decoration: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ################################## */
/* ##### BREWERY CONTAINER SEARCH ### */
/* ################################## */

.search__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.search__input {
  margin: 0 auto;
  width: 15%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #168116;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
