.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  padding: 0px;
  margin: 0px;
  /* background:#F8F2ED; */
  font-family: "Raleway", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */
.navbar-inverse {
  z-index: 1;
  background-color: white;
  border-bottom: 6px solid #015a29;
  margin-bottom: 25px;
  width: 100%;
}

.navbar a {
  color: #015a29;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #015a2985;
}

.logo {
  height: 30px;
}
.logo :hover {
  color: #aa9902;
}

/* HOME PAGE */
.home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.Bio {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  text-align: left;
}

.Bio #title {
  /* grid-column-start: 2;
   grid-column-end: 4; */
  text-align: center;
  height: 50px;
  /* font-weight: bold;box-shadow: 0 4px 8px 0 rgba(0,0,0,.2); */
}

.Bio #subtitle {
  text-align: center;
}

.Bio #body {
  width: 100%;
}

#welcome-image {
  margin-top: px;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 152%;
  /* height: 300%; */
}

.home-login-signup {
  text-align: center;
  margin-left: 10px;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 150%;
  opacity: 0.95;
}

.home-buttons {
  background-color: white;
  border-radius: 3px;
  width: 85%;
  height: 20%;
  border: 0.5px solid #ebeaec;
}

.home-buttons:hover {
  background-color: #035e2c33;
  transition: all 0.1s;
}

/* brewery show page */

.note-input {
  height: 300px;
  width: 200%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#brewery-header {
  text-align: center;
}

.brewery-card-button {
  background-color: white;
  border-radius: 3px;
  width: 85%;
  height: 20%;
  border: 0.5px solid #ebeaec;
}

.brewery-card-button:hover {
  background-color: #035e2c33;
  transition: all 0.1s;
}
.like-brewery-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Map */
.map-position {
  margin-left: -200px;
  margin-right: 50px;
  width: 75%;
  height: 85%;
  position: fixed;
  display: block;
  z-index: 10;
}

.mapContainer {
  margin-top: 55px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-search-input {
  margin-top: 17px;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  margin: 0 auto;
}

.mapboxgl-ctrl-geocoder--input {
  margin-top: 500px;
}

.pin {
  background: none;
  border: none;
  cursor: pointer;
}

.pin img {
  width: 20px;
  height: 20px;
}

.pin img:hover {
  background-color: rgba(255, 255, 0, 0.178);
}

/* popups on map */

.popup-button {
  margin-top: 5px;
  background-color: white;
  border-radius: 3px;
  width: 75%;
  border: 0.5px solid #ebeaec;
}

.popup-button:hover {
  background-color: #035e2c33;
}

/* login and signup */

/* // Set background image (pattern) */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed; */
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.login {
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: 85px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}

.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #015a29;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.legend:after {
  content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

.input span {
  position: absolute;
  display: block;
  color: darken(#ededed, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#ededed, 30%);
}
input:focus {
  /* padding: 10px 5px 10px 10px; */
  outline: 0;
  border-color: #015a29;
}

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #015a29;
  color: #015a29;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}

.submit:hover {
  background: #015a29;
  color: #fff;
  outline: 0;
}

.route-links {
  text-align: center;
  font-size: 14px;
}

.header {
  width: 100%;
  display: block;
  background: #015a2923;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
  /* width: 95%; */
}

.card {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  float: left;
  width: 32.6%;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  margin: 5px;
  border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
